$color-default: #000c21;
$color-default-alt: #c36;
$ff: "Poppins", Sans-serif;

#rebind-playfab-account-form {
    display: none;
    margin-bottom: 20px;
}

.woocommerce-form-row.woocommerce-form-row--wide.form-row.form-row-wide label[for="account_display_name"],
.woocommerce-form-row.woocommerce-form-row--wide.form-row.form-row-wide #account_display_name,
.woocommerce-form-row.woocommerce-form-row--wide.form-row.form-row-wide #account_display_name + span,
.woocommerce-view-order .woocommerce-MyAccount-content table,
.woocommerce-view-order .woocommerce-MyAccount-content address,
.woocommerce-account .woocommerce-MyAccount-content h2,
.woocommerce section.woocommerce-order-details .woocommerce-order-details__title,
.woocommerce
    section.woocommerce-order-details
    .woocommerce-table.woocommerce-table--order-details.shop_table.order_details,
.woocommerce section.woocommerce-customer-details,
.woocommerce-order-received .woocommerce-order .woocommerce-notice.woocommerce-notice--success,
.woocommerce-order-received
    .woocommerce-order
    .woocommerce-order-overview.woocommerce-thankyou-order-details.order_details {
    display: none;
}

.ipf-btn,
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
    padding: 15px 60px;
    font-family: $ff;
    font-weight: 600;
    font-size: 1em;
    line-height: 1em;
    text-transform: uppercase;
    border-radius: 3em;
    transition: all 0.3s;
    &.ipf-btn-default {
        background-color: $color-default;
        border-color: $color-default;
        color: #fff;
    }
    &.ipf-btn-default-alt,
    &.alt {
        display: inline-block;
        vertical-align: middle;
        background-color: $color-default-alt;
        border-color: $color-default-alt;
        color: #fff;
    }
    &:active,
    &:focus,
    &:hover,
    &:focus:hover {
        &.ipf-btn-default {
            background-color: #fff;
            border-color: #fff;
            color: $color-default;
        }
        &.ipf-btn-default-alt,
        &.alt {
            background-color: #fff;
            border-color: #fff;
            color: $color-default-alt;
        }
    }
}

.woocommerce table.shop_table.woocommerce-checkout-review-order-table td.product-name,
.woocommerce table.shop_table.woocommerce-checkout-review-order-table th.product-name {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: start;
}
